<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>ValidationFilter</filter-name>
        <filter-class>com.neu.controller.ValidationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ValidationFilter</filter-name>
        <servlet-name>insertingData</servlet-name>
        <url-pattern>/addData.htm</url-pattern>
        <url-pattern>/movie.do</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MovieAddBrowseController</servlet-name>
        <servlet-class>com.neu.controller.MovieAddBrowseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertingData</servlet-name>
        <servlet-class>com.neu.controller.insertingData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MovieAddBrowseController</servlet-name>
        <url-pattern>/movie.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertingData</servlet-name>
        <url-pattern>/addData.htm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>dbuser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbpassword</param-name>
        <param-value>jaya</param-value>
    </context-param>
    <context-param>
        <param-name>dbdriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://localhost:3306/moviedb</param-value>
    </context-param>
</web-app>
